.DS_Store
.vscode

docker-compose.override.yml
php.override.ini

mysql/*

wp-content/*.*

wp-content/themes/*
wp-content/plugins/*
wp-content/uploads/*
wp-content/upgrade/*

wp-content/mu-plugins/*
!wp-content/mu-plugins/mailhog.php